<%- include('../../partials/header.ejs');%>



<!-- Style -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
<link href="assets/css/fresh-bootstrap-table.css" rel="stylesheet" />

<!-- Fonts and icons -->
<link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">




<%- include('../../partials/navbar.ejs');%>

<link href="../../../assets/css/fresh-bootstrap-table.css" rel="stylesheet" />
<link href="../../../assets/css/css/demo.css" rel="stylesheet" />



<div class="container">
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote blockquote-primary mb-0">
                <h2 class="card-title">Listagem de Categorias</h2>
                <div class="fresh-table ">
                    <div class="toolbar">
                        <!-- <a href="/" class="btn btn-danger">Voltar</a> -->
                    </div>
                    <table id="fresh-table" class="fresh-table full-color-orange full-screen-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Título</th>
                                <th>Slug</th>
                                <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">
                                    Ações</th>
                        </thead>
                        </tr>
                        </thead>
                        <tbody>
                            <% categories.forEach(category => { %>
                            <tr>
                                <th><%=category.id%></th>
                                <th><%=category.title%></th>
                                <th><%=category.slug%></th>
                                <th>Ações</th>
                            </tr>
                            <% })  %>
                        </tbody>
                    </table>
                </div>

            </blockquote>
        </div>

    </div>

</div>

<!-- Javascript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script>

<script type="text/javascript">
    var $table = $('#fresh-table')
    var $alertBtn = $('#alertBtn')

    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like icon, row: ' + JSON.stringify(row))
            console.log(value, row, index)
        },
        'click .edit': function (e, value, row, index) {
            alert('You click edit icon, row: ' + JSON.stringify(row))
            console.log(value, row, index)
        },
        'click .remove': function (e, value, row, index) {
            $table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
            })
        }
    }

    function operateFormatter(value, row, index) {
        return [
            '<a rel="tooltip" title="curtir" class="table-action like" href="javascript:void(0)" title="Like">',
            '<i class="fa fa-heart"></i>',
            '</a>',
            '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
            '<i class="fa fa-edit"></i>',
            '</a>',
            '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
            '<i class="fa fa-remove"></i>',
            '</a>'
        ].join('')
    }

    $(function () {
        $table.bootstrapTable({
            classes: 'table table-hover table-striped',
            toolbar: '.toolbar',

            search: false,
            showRefresh: true,
            showToggle: true,
            showColumns: true,
            pagination: true,
            striped: true,
            sortable: true,
            pageSize: 5,
            pageList: [5, 10, 25, 50, 100],

            formatShowingRows: function (pageFrom, pageTo, totalRows) {
                return ''
            },
            formatRecordsPerPage: function (pageNumber) {
                return pageNumber + ' '
            }
        })

        $alertBtn.click(function () {
            alert('You pressed on Alert')
        })
    })
</script>


<%- include('../../partials/footer.ejs');%>