<%- include('../../partials/header.ejs');%>
<%- include('../../partials/navbar.ejs');%>

<div class="container">
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote blockquote-danger mb-0">
                <h2 class="card-title">Listagem de Categorias</h2>
                <a href="/admin/categories/new" class="btn btn-success">Nova Categoria</a>
                <a href="/" class="btn btn-danger">Voltar</a>

        </div>
        
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="bg-danger text-white">
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th class="">Ações</th>
                </thead>
                </tr>
                </thead>
                <tbody>
                    <% categories.forEach(category => { %>
                    <tr>
                        <th><%=category.id%></th>
                        <th><%=category.title%></th>
                        <th><%=category.slug%></th>
                        <th>
                            <button class="btn btn-warning btn-round" type="button">
                                <i class="now-ui-icons loader_refresh"></i> Editar
                            </button>
                            <button class="btn btn-danger btn-round" type="button">
                                <i class="now-ui-icons ui-1_simple-remove"></i> Deletar
                            </button>
                        </th>
                    </tr>
                    <% })  %>
                </tbody>
            </table>
        </div>
    </div>

    </blockquote>
</div>

</div>

</div>



<%- include('../../partials/footer.ejs');%>